html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: block;
  width: 100vw;
  margin: 0 auto;
}

.container {
  display: block;
  float: left;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: block;
  float: left;
  padding: 20px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #000000;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h3 {
  padding-top: 10px;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  padding-top: 10px;
}

p {
  margin-bottom: 10px;
  line-height: 1.4;
}

img {
}

ol {
  margin-left: 30px;
}

ol li {
  font-size: 1.4rem;
  color: #454545;
}

section {
  background-color: #f1f1f1;
  font-size: 1.5rem; /* 15px */
  display: block;
  float: left;
  width: 100%;
  padding: 20px;
}

section nav {
  display: block;
  float: left;
  width: 30%;
}

nav li {
  background-color: #dbdbdbc2;
  margin: 1px 20px 1px 0px;
  padding: 10px;
}

nav li:hover {
  background-color: #b4b4b48e;
}

nav a {
  text-decoration: none;
  color: #000000;
}

section article {
  display: block;
  float: left;
  width: 70%;
}

footer {
  background-color: #777777;
  display: block;
  float: left;
  padding: 20px;
  width: 100%;
}

footer p {
  color: #ffffff;
  font-size: 1.4rem;
}

footer small {
  font-size: 80%;
  display: block;
}

a {
  visibility: hidden !important;
}

.cog-branding {
  visibility: hidden !important;
}
